

*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.searchBox {
  /* width:500px; */
  width: 75%;
  margin: 0 auto 0;
  height:50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.box {
  width: 25%;
  margin-left: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  text-align: center;
}
.searchBox i {
font-size: 20px;
color: #777;
}
.searchBox input {
flex:1;
border:none;
outline:none;
font-size: 18px;
padding-left: 10px;
}
.box i {
  font-size: 18px;
  color: #777;
  }
  .box H5 {
    flex:1;
    border:none;
    outline:none;
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
    }
.formStyle {
  height: 60px;
}
.slider{
  padding-left: 180px;
  width: 75%;
}
.headingForWords{
  padding-left:160px;
}
.graphBox{
  width: 50%; 
}
.relatedWordsBox{
  display: flex;
  flex-direction: row;
}
.loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  /* z-index: 9999; */
  background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
              50% 50% no-repeat rgb(249,249,249);
}
@media screen and (max-width: 480px) {
.searchBox{
 width: 90%;
 padding: 10px;
 font-size: 8px;
}
.searchBox input {
  width: 90%;
  padding-left: 0px;
  }
  .searchBox i {
    font-size: 15px;
    color: #777;
    }
    .headingForWords{
    padding: 0px;
    text-align: center;
    }
    .box {
      width: 80%;
      margin: 0 auto 0;
      display: flex;
      align-items: center;
    }
    .hello {
      display: none!important;
    }
    .box i {
      font-size:15px;
      }
      .box h5 {
          font-size: 15px;
      }
      .box input {
      font-size: 10px;
      padding-left: 10px;
      }
      .relatedWordsBox{
        display: flex;
        /* flex-direction: column; */
        width: 100%;
        margin: 0 auto;

      }
      .slider{
        padding-left: 0px;
        text-align: center;
        display:flex;
        flex-direction: column;
        width: 100%
      }
      .slider h5{
        font-size: 12px;
      }
      .slider input{
        width: 100%;
        margin: 4px auto 4px;
      }
      h6{
        font-size: 12px;
      }
      .graphBox{
        width: 90%; 
      }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
